<div class="custom-input-container">
    <label [for]="inputId">{{label}} <span *ngIf="required" class="asterisk">*</span></label>
    <div class="input-container">
        <Input 
            [id]="inputId"
            [type]="inputType"
            (input)="onChange($event)"
            (blur)='touched()'
            [name]='name'
            [value]="inputValue || null"
            [required]="required"
        />
    </div>
    <button type="button" (click)='togglePassword()' [ngSwitch]="inputType" tabindex="0" *ngIf="isPasswordInput">
        <i *ngSwitchCase="'password'" class="fa fa-eye"></i>
        <i *ngSwitchCase="'text'" class="fa fa-eye-slash"></i>
    </button>
    <div *ngIf="hasError" class="error-text">
        <p>*{{errorMessage}}</p>
    </div>
</div>