@mixin buttonStyles {
    padding: 0.5rem 0.7rem;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        background-color: #286090;
    }

    &:active {
        background-color: #204d74;
    }

    &:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    &:disabled {
        background-color: gray;
        cursor: auto;
        color: #e0dddd;
    }
}