<ng-container>
    <h1 class="modal-header">{{'Rename: ' + authorToUpdate.authorName}}</h1>
    <hr />

    <div class="body">
        <form #renameAuthorForm="ngForm" (ngSubmit)="rename(renameAuthorForm.value, $event)">
            <div class="form-group">
                <app-custom-input
                inputId='rename'
                label="Rename"
                inputType='text'
                name='authorName'
                inputName='authorName'
                [(ngModel)]="authorName"
                [required]="true"
                [hasError]="hasNameError"
                [errorMessage]="errorMessage"
                >
                </app-custom-input>
            </div>

            <app-custom-button
            class="button"
            buttonText="Rename"
            [hasSpinner]="loading"
            buttonType="submit" 
            [isDisabled]='!!renameAuthorForm.invalid'
            >
            </app-custom-button>
        </form>
    </div>
</ng-container>