@import "../../../common//styles/button/button";

.login-page {

    h1 {
        font-weight: 500;
        font-size: 1.5rem;
        margin-top: 4.5rem;
        margin-bottom: 0.9rem;
    }

    .form-container{
        width: 90%;
        margin-left: 0;
        form {
            
            button {
                margin-left: 1rem;
                @include buttonStyles
            }

            .error {
                color: #f54545;
                margin: 0.5rem 1rem;
            }
        }
    }
}


@media screen and (min-width: 62rem){
    .login-page {

        .form-container {
            width: 40%;
        }
    }
}

@media screen and (min-width: 40rem){
    .login-page {

        .form-container {
            margin-left: 2rem;
        }
    }
}