@import "../../common/styles/styles";


.body-container {
    margin: 1.5rem 8rem;
    color: #333333;

    hr {
        @include lineStyles;
        margin-top: 3rem;
    }

    footer{
        font-size: 0.9rem
    }
}

@media screen and (max-width: 77rem){
    .body-container {
        margin: 1.5rem 3rem;
    }
}