.body-container {
    margin: 3.5rem 8rem;
    color: #333333;

    hr {
        border: 0;
        margin: 1rem 0;
        border-top: 1px solid #eeeeee;
    }

    footer{
        font-size: 0.9rem
    }
}

@media screen and (max-width: 77rem){
    .body-container {
        margin: 3.5rem 3rem;
    }
}