<div class="upload-book-page">
    <h1 class="modal-header">Upload book</h1>

    <hr />

    <div class="main">
        <form #bookForm action="">
            <div class="form-group">
                <app-custom-input
                inputId='title'
                label='Title'
                inputType='text'
                name='title'
                inputName='title'
                [(ngModel)]="title"
                [required]="true"
                >
                </app-custom-input>
            </div>

            <div class="form-group select-container">
                <label class="select-label" for="author-select">Author(s) <span class="asterisk">*</span></label>
                <select id="author-select" (keydown)="openAuthorPopover = true" (click)="openAuthorPopover = true" (keydown)="preventKeyDown($event)" (mousedown)="preventMouseDown($event)">
                    <option value="">{{ selectedAuthorsStr }}</option>
                </select>
                <app-custom-popover *ngIf="openAuthorPopover" (closePopOver)="openAuthorPopover = false">
                    <app-author-popover [prevSelectedAuthors]="selectedAuthors" (propagateSelectedAuthors)="setSelectedAuthors($event)" ></app-author-popover>
                </app-custom-popover>
            </div>

            <div class="form-group select-container">
                <label class="select-label" for="category-select">Category(s) <span class="asterisk">*</span></label>
                <select id="category-select" (keydown)="openCategoryPopover = true" (click)="openCategoryPopover = true" (keydown)="preventKeyDown($event)" (mousedown)="preventMouseDown($event)">
                    <option value="">{{ selectedCategoriesStr }}</option>
                </select>
                <app-custom-popover *ngIf="openCategoryPopover" (closePopOver)="openCategoryPopover = false">
                    <app-category-popover [prevSelectedCategories]="selectedCategories" (propagateSelectedCategory)="setSelectedCategories($event)" ></app-category-popover>
                </app-custom-popover>
            </div>
            
            <div class="form-group file-input-container">
                <label for="book-file">select file <span class="asterisk">*</span></label>
                <input type="file" (change)="selectedFile($event)" value="file" name="" id="book-file">
                <div *ngIf="fileInvalid" class="error-text">
                    <p>*Only pdf, epub and txt files are allowed</p>
                </div>
            </div>

            <div class="form-group file-input-container">
                <label for="book-file">select cover image <span class="asterisk">*</span></label>
                <input type="file" (change)="selectedCoverImage($event)" value="file" name="" id="book-file">
                <div *ngIf="coverImageInvalid" class="error-text">
                    <p>*Only png, jpg and jpeg images are allowed</p>
                </div>
            </div>
        </form>
    </div>

    
</div>