<ng-container>
    <h1 class="modal-header">Delete Category</h1>
    <hr />

    <div>
        <p>Are you sure you want to delete <strong><em>{{categoryToDelete.categoryName}}</em></strong>?</p>
    </div>

    <div class="error-text">
        {{errorMessage}}
    </div>

    <div class="actions">
        <button (click)="closeModal.emit()" class="no-btn">No</button>
        <button [disabled]="loading" (click)="deleteCategory()" class="yes-btn">Yes&nbsp;<i [ngClass]="loading? 'fa fa-spinner fa-pulse' : 'fa fa-trash'"></i></button>
    </div>
</ng-container>