<div class="book">
    <div [class.book-img-container]="book.coverImageLink" class="img-container">
        <img [id]="'img' + book.bookId" class="img" src="assets/images/book/book.png" alt="book-image" srcset="">
    </div>
    <p [routerLink]="['/library/book', book.bookId]" class="title">{{book.title}}</p>
    <p class="author">{{authors}}</p>
    <app-stars [rating]='book.rating'></app-stars>
    <div *ngIf="showRemoveButton" class="button-container">
        <button (click)="remove()">Remove from list</button>
    </div>
</div>