<div class="book">
    <div class="img-container">
        <img class="img" src="assets/images/book/book.png" alt="book-image" srcset="">
    </div>
    <p [routerLink]="['/library/book', book.bookId]" class="title">{{book.title}}</p>
    <p class="author">{{authors}}</p>
    <app-stars [rating]='book.rating'></app-stars>
    <div *ngIf="showRemoveButton" class="button-container">
        <button (click)="remove()">Remove from list</button>
    </div>
    <!-- <input type="file" (change)="selectedFile($event)" file-browser> -->
</div>