@import '../../../common/styles/text/header';
@import '../../../common/styles/styles';
@import '../../../common/styles/button/button';

.book-detail {
    
    .header{
        @include h1Styles
    }

    hr {
        @include lineStyles
    }

    .error {
        color: rgb(231, 93, 93);
        font-weight: bold;
        font-size: small;

        .param {
            font-style: italic;
            font-size: large;
        }
    }

    main {
        display: flex;
        margin: 0 auto;
        width: 60%;
        gap: 1rem;

        .img-read-button {
            width: 45%;
            min-width: 20rem;

            .image {
                width: 100%;
            }

            .read-button{
                @include buttonStyles;
                width: 100%;
                margin-top: 1rem;
            }
        }

        .details {
            width: 55%;
            min-width: fit-content;

            .title {
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 500;
                font-size: 1.5rem;

                .edit-icon{
                    cursor: pointer;

                    &:focus {
                        outline: 5px auto -webkit-focus-ring-color;
                        outline-offset: -2px;       
                    }
                    
                    &:hover{                
                        color: #286090;
                    }
                }
            }

            .authors {
                font-size: medium;
                color: #7c7568;
                margin-top: 0.5rem;
            }

            .categories {
                @extend .authors
            }

            .rating {
                cursor: pointer;
            }
        }
    }
}


@media screen and (max-width: 48rem){
    .book-detail {

        main {
            width: 90%;
            flex-direction: column-reverse;
            
            .img-read-button {
                min-width: 0;
                width: 100%;
            }
        }
    }
}