<div class="header-container">
    <header class="nav-bar">
        <nav [routerLink]="sblMainNavRoute" class="nav-left" tabindex="0">
            Sky Book Library
        </nav>

        <nav class="nav-mid" *ngIf="currentPage === PageType.library">
            <li [class.isActive]="currentPath === link.route" [routerLink]=link.route *ngFor="let link of libraryNavLinks" tabindex="0">{{link.value}}</li>
        </nav>
    
        <ul [ngSwitch]="currentPage" class="nav-right">
            <ng-container *ngSwitchCase="PageType.home">
                <li (click)="openRegisterModal()" (keydown.enter)="openRegisterModal()" tabindex="0">Register</li>
                <li [routerLink]="['/home/login']" tabindex="0">Login</li>
            </ng-container>
            
            <ng-container *ngSwitchCase="PageType.welcome">
                <li tabindex="0">{{"Hello " + currentUser.firstName}}</li>
                <li [routerLink]="['/library']" tabindex="0">Library</li>
                <li (click)="logout()" tabindex="0">Log out</li>
            </ng-container>    

            <ng-container *ngSwitchCase="PageType.library">
                <li tabindex="0">{{"Hello " + currentUser.firstName}}</li>
                <li (click)="logout()" tabindex="0">Log out</li>
            </ng-container>     
        </ul>
    
        <div tabindex="0" (keydown.enter)="toggleDropDownMenu()" (click)='toggleDropDownMenu()' class="collapsable-menu-icon-div">
            <i class="fa fa-bars fa-lg"></i>
        </div>
    </header>
    
    <div *ngIf="currentPage === PageType.home || currentPage === PageType.welcome" [style.height]="dropdownMenutoggle? '5.5rem' : '0rem'" class="drop-down-menu">
        <ul [ngSwitch]="currentPage" *ngIf="dropdownList">
            <ng-container *ngSwitchCase="PageType.home">
                <li (click)="openRegisterModal()" tabindex="0">Register</li>
                <li [routerLink]="['/home/login']" tabindex="0">Login</li>
            </ng-container>

            <ng-container *ngSwitchCase="PageType.welcome">
                <li [routerLink]="['/library']" tabindex="0">Library</li>
                <li (click)="logout()" tabindex="0">Log out</li>
            </ng-container>
        </ul>
    </div>

    <div *ngIf="currentPage === PageType.library" [style.height]="dropdownMenutoggle? '18rem' : '0rem'" class="drop-down-menu">
        <ul *ngIf="dropdownList">
            <li [class.isActive]="currentPath === link.route" [routerLink]=link.route *ngFor="let link of libraryNavLinks" tabindex="0">{{link.value}}</li>
            <li (click)="logout()" tabindex="0">Log out</li>
        </ul>
    </div>
</div>


<app-modal (closeModal)="registerModalOpen = false" *ngIf="registerModalOpen">
    <app-register-form></app-register-form>
</app-modal>