// @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Roboto:wght@300&display=swap');

body{
    // background-image: url('./assets/images/book/book3.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}