<div class="header-container">
    <header class="header">
        <nav [routerLink]="['/home']" class="nav-left" tabindex="0">
            Sky Book Library
        </nav>
    
        <ul class="nav-right">
            <li (click)="openRegisterModal()" (keydown.enter)="openRegisterModal()" tabindex="0">Register</li>
            <li routerLink="/home/login" tabindex="0">Login</li>
        </ul>
    
        <div tabindex="0" (keydown.enter)="toggleDropDownMenu()" (click)='toggleDropDownMenu()' class="collapsable-menu-icon-div">
            <i class="fa fa-bars fa-lg"></i>
        </div>
    
    </header>
    
    <div [style.height]="dropdownMenutoggle? '6rem' : '0rem'" class="drop-down-menu">
        <ul *ngIf="dropdownList">
            <li (click)="openRegisterModal()" tabindex="0">Register</li>
            <li routerLink="/home/login" tabindex="0">Login</li>
        </ul>
    </div>
</div>


<app-modal (closeModal)="registerModalOpen = false" *ngIf="registerModalOpen">
    <app-register-form></app-register-form>
</app-modal>