@import '../../../common/styles/text/header';

hr {
    margin: 0.5rem 0;
}

.body .button {
    margin-left: 1rem;
    margin-top: 1rem;
}

.message-container {
    color: #f54545;
    margin: 0.5rem 1rem;
}

.success-message{
    color: #277727;
}