<ng-container>
    <h1 class="modal-header">Register</h1>
    <hr />

    <div class="body">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value, $event)">
            <div class="form-group">
                <app-custom-input
                inputId='firstName'
                label='First Name'
                inputType='text'
                name='firstName'
                inputName='firstName'
                [(ngModel)]="firstName"
                [required]="true"
                >
                </app-custom-input>
            </div>

            <div class="form-group">
                <app-custom-input
                inputId='lastName'
                label='Last Name'
                inputType='text'
                name='lastName'
                [(ngModel)]="lastName"
                [required]="true"
                >
                </app-custom-input>
            </div>

            <div class="form-group">
                <app-custom-input
                inputId='email'
                label='Email'
                inputType='email'
                name='email'
                [(ngModel)]="email"
                [hasError]="emailInvalid()"
                errorMessage="Please enter a valid email address"
                [required]="true"
                >
                </app-custom-input>
            </div>

            <div class="form-group">
                <app-custom-input
                inputId='password'
                label='Password'
                inputType='password'
                name='password'
                [(ngModel)]="password"
                [required]="true"
                [isPasswordInput]="true"
                [hasError]="passwordInvalid()"
                errorMessage="Password must contain a minimum of 8 characters"
                >
                </app-custom-input>
            </div>

            <div class="form-group">
                <app-custom-input
                id='confirmPassword'
                label='Confirm Password'
                inputType='password'
                name='confirmPassword'
                [(ngModel)]="confirmPassword"
                [required]="true"
                [isPasswordInput]="true"
                [hasError]="confirmPasswordInvalid()"
                errorMessage="Confirm password must be the same as password"
                >
                </app-custom-input>
            </div>
            
            <div class="message-container">
                <h5 *ngIf="hasError" class="error-message"><i class="fa fa-exclamation-circle"></i> {{errorMessage}}</h5>
                <h5 *ngIf="success" class="success-message"><i class="fa fa-check-circle"></i> Account successfully created</h5>
            </div>

            <app-custom-button
            class="button"
            buttonText="Register"
            [hasSpinner]="loading"
            buttonType="submit" 
            [isDisabled]='registerForm.invalid || formInvalid()'
            >
            </app-custom-button>
        </form>
    </div>
</ng-container>